<template id="container-header">
    <header>
        <img class="logo" src="/assets/images/favicon.webp" alt="">
        <nav>
            <a href="/index.html">
                <h4>Home</h4>
            </a>
            <a href="/pages/projects.html">
                <h4>Projetos</h4>
            </a>
            <a href="/pages/articles.html">
                <h4>Artigos</h4>
            </a>
            <a href="/pages/videos.html">
                <h4>Vídeos</h4>
            </a>
        </nav>
        <section class="social-media">
            <a href="https://www.linkedin.com/in/andrevalverdebrazil"><img src="/assets/images/index/linkedin.png"
                    alt=""></a>
            <a href="https://github.com/andrepixel"><img src="/assets/images/index/github.png" alt=""></a>
        </section>
        <a class="cv-download" href="/assets/CV - André Valverde.pdf" download="CV - André Valverde.pdf">Baixar CV</a>
    </header>
</template>